.nav {
    position: fixed;
    align-items: center;
    top: 0;
    width: 100%;
    padding: 20px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    z-index: 1;

    transition-timing-function: ease-in-out;
    transition: all 0.5s;
}

.logo_netflix {
    position: fixed;
    left: 20px;
    width: 80px;
    object-fit: contain;
}

.user_icon {
    position: fixed;
    right: 20px;
    width: 30px;
    object-fit: contain;
}

.nav_black {
    background-color: black;
}